<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <!--<section name ="BddAccess" type ="BddAccess" />-->
    </configSections>
    <connectionStrings>
        <!--<add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=aspnet-cicaudittrail-20140930160144;Integrated Security=SSPI" providerName="System.Data.SqlClient" />-->
        <add name="WafaaccessContext" providerName="Oracle.ManagedDataAccess.Client" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=172.20.0.122)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=report)));User ID=bank;Password=bank;" />
    </connectionStrings>
    <system.data>
        <DbProviderFactories>
            <remove invariant="Oracle.ManagedDataAccess.Client" />
            <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
        </DbProviderFactories>
    </system.data>
    <system.web>
        <compilation debug="true" targetFramework="4.0.3" />
    </system.web>
    <system.serviceModel>

        <!--!!!! Temporaire!!! mis juste pr pouvoir tester avec soapui.
   TODO enlever une fois les tests finis
   TODO enlever aussi bindingConfiguration="wsHttpBindingNoSCT" au niveau du endpoint
   -->
        <bindings>
            <wsHttpBinding>
                <binding name="wsHttpBindingNoSCT">
                    <security mode="None">
                        <transport clientCredentialType="None" />
                        <message establishSecurityContext="false" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <!--!!!!! fin temporaire !!!!!-->
        
        <!-- Tag deploiement. A enlever si bug-->

        <services>
            <service name="WafaAccess.ClientService">
                <endpoint address="" binding="wsHttpBinding" contract="WafaAccess.IClientService" >
                    <!--<identity>
                        <dns value="localhost" />
                    </identity>-->
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" /> 
            </service>
        </services>
        
        <!-- Fin tag deploiement-->
        
        <behaviors>
            <serviceBehaviors>
                <behavior>
                    <!-- Pour éviter la divulgation des informations sur les métadonnées, définissez la valeur ci-dessous sur false et supprimez le point de terminaison des métadonnées ci-dessus avant le déploiement. -->
                    <serviceMetadata httpGetEnabled="true" />
                    <!-- Pour recevoir les détails d'exception des erreurs à des fins de débogage, définissez la valeur ci-dessous sur true. Définissez-la sur false avant le déploiement pour éviter la divulgation des informations d'exception. -->
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    </system.serviceModel>
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true" />
    </system.webServer>
    <entityFramework>
        <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />

    </entityFramework>

    <appSettings>
        <add key="schemaName" value="BANK" />
    </appSettings>

    <!--<BddAccess>
        <access schemaName="BANK" />
    </BddAccess>-->
</configuration>